<div class="toTop">
    <a href="#top" title="Back to Top"><i class="fas fa-chevron-up"></i></a>
</div>
<footer class="footer">
    <div class="contact">
      <p>
        Ben Sanders<br/>
        Business Inquiries<br/>
        <a href="mailto:ben@sanders.life">ben@sanders.life</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a target="_blank" href="https://github.com/bensanders">github.com/bensanders</a><br />
        <a target="_blank" href="https://twitter.com/thebensanders">@thebensanders</a><br />
      </p>
    </div>
    <div class="rss">
      <a target="_blank" href="https://twitter.com/thebensanders" title="@TheBenSanders on Twitter" class="twitter"><i class="fab fa-twitter"></i></a>
      <a target="_blank" href="https://facebook.com/officialbensanders" title="Ben on Facebook" class="facebook"><i class="fab fa-facebook"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/benasanders/" title="Ben on Linkedin" class="linkedin"><i class="fab fa-linkedin"></i></a>
      <a target="_blank" href="https://github.com/bensanders" title="Ben on Github" class="github"><i class="fab fa-github"></i></a>
      <a target="_blank" href="/resume.pdf" title="Resume" class="resume"><i class="far fa-file"></i></a>
      <a target="_blank" href="/feed.xml" title="Blog RSS" class="rss"><i class="fas fa-rss-square"></i></a>
    </div>
    <script src="/js/hamburger.js"></script>
    <script src="/js/analytics.js"></script>
  </footer>