    <div class="title" id="myTitle">
        <a href="/" title="Ben Sanders">Ben Sanders</a>
        <a href="/" title="Home" class="active extra">Home</a>
        <a href="/about" title="About Ben" class="extra">About</a>
        <a href="/portfolio/" title="My Portfolio" class="extra">Portfolio</a>
        <a href="/photos/" title="Photoblog" class="extra">Photos</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
      </div>