<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div id="top"></div>
  <div class="site">
    {% include nav.html %}
    <div id="main">
      <h2>Blog Posts</h2>
      <ul id="posts">
            {% for post in site.posts %}
            <li><span>{{ post.date | date_to_long_string }}</span> » <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" aria-label="{{ post.title }}">{{ post.title }}</a></li>
            {% endfor %}
      </ul>
      <h2>YouTube Videos</h2>
      <ul id="posts">
        <li><span>27 Jun 2018</span> » <a target="_blank" href="https://www.youtube.com/watch?v=_fdfJx7ph7I&t=97s">Booktube Review: Feel Good 101 by Emma Blackery | TheBenSanders</a></li>
        <li><span>24 May 2018</span> » <a target="_blank" href="https://youtu.be/chb-adxdjWg">The Sims 4 Seasons Trailer Reaction | Ben Sanders</a></li>
        <li><span>10 May 2018</span> » <a target="_blank" href="https://youtu.be/iON6ZqE-49I">Booktube Newbie Tag | Ben Sanders</a></li>
        <li><span>10 Jan 2018</span> » <a target="_blank" href="https://youtu.be/ZwdbwMvnIk4">Top 10 FORGOTTEN Cartoon Network Shows</a></li>
        <li><span>12 Feb 2018</span> » <a target="_blank" href="https://youtu.be/W27izTmlEQ4">The Sims 4 House Building | 10K Challenge</a></li>
      </ul>
    </div>
    {% include footer.html %}
  </div>
</body>
</html>